<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <title>Directory listing for {{ current_path }}</title>
</head>

<body>
    <script src="/static/layui/layui.all.js"></script>
    <div class="layui-fluid">
        <div class="layui-row layui-bg-blue">
            <div class="layui-col-md4">
                <h1>Directory: {{ current_path }}</h1>
            </div>
        </div>
        <hr class="layui-bg-green">
        <div class="layui-row">
            <a href="../">
                <div class="layui-col-md4">
                    ../
                </div>
            </a>
        </div>
        <hr>

        {% for file in files %}
        <div class="layui-row">
            <a href="{{ file }}/">
                <div class="layui-col-md4">
                    {% if file | is_video_file  %}
                    <i class="layui-icon layui-icon-video"></i>
                    {% endif %}
                    {{ file }}
                </div>
            </a>
        </div>
        <hr>
        {% endfor %}

    </div>
</body>

</html>